<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="public/assets/favicon.ico">
    <title>PythonWA</title>
    <meta name="htmx-config" content='{"selfRequestsOnly":false}'>
    <script src="https://unpkg.com/htmx.org@2.0.0"></script>
    <script src="https://unpkg.com/htmx-ext-client-side-templates@2.0.0/client-side-templates.js"></script>
    <script src="https://unpkg.com/mustache@latest"></script>

    <link rel="stylesheet" href="dist/styles.css">

</head>

<body>

    <!-- Header -->
    <div hx-get="src/components/header.html" hx-trigger="load" hx-swap="outerHTML"></div>

    <!-- HERO -->
    <div hx-get="src/components/hero.html" hx-trigger="load" hx-swap="outerHTML"></div>

    <!-- TALKS -->
    <section class="md:max-w-4xl mx-auto mb-20">
        <div class="bg-white border-b px-4 py-5 sm:px-6 shadow rounded-t-md">
            <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-nowrap">
                <div class="ml-4 mt-2">
                    <h3 class="text-lg leading-6 font-medium text-gray-900">
                        Upcoming Events
                    </h3>
                </div>
            </div>
        </div>

        <!-- change hx-get='http://localhost:3000/api/events' for local development -->
        <div hx-ext="client-side-templates" hx-get="https://pythonwa-htmx-tailwindcss.onrender.com/api/events"
            mustache-array-template="events-template" hx-trigger="load" hx-swap="outerHTML">
            Loading
        </div>
    </section>

    <!-- TALK TEMPLATE -->
    <template id="events-template">
        <div class="bg-white shadow rounded-b-md">
            <ul class="divide-y divide-gray-200">
                {{#data}}
                <li>
                    <div class="p-4 sm:p-6">
                        <a href="{{link}}" class="block hover:bg-gray-50">
                            <p class="font-medium text-blue-600 truncate">{{name}}</p>
                        </a>
                        <p class="mt-2 flex items-center text-sm text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="mr-1.5 h-5 w-5 text-gray-400">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                            </svg>
                            <span class="truncate">{{local_date}} {{ local_time}}</span>
                        </p>

                        <p class="mt-2 flex items-center text-sm text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="mr-1.5 h-5 w-5 text-gray-400">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z">
                                </path>
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                            </svg>

                            <span class="truncate">{{venue}}</span>
                        </p>

                        <p class="mt-2 flex items-center text-sm text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" class="mr-1.5 h-5 w-5 text-gray-400">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z">
                                </path>
                            </svg>

                            <span class="truncate">{{yes_rsvp_count}}</span>
                        </p>
                        <p class="mt-2 text-sm">
                        <div class="text-sm [&_p]:mt-4 [&_p]:mb-4 [&_a]:text-blue-600">{{{description}}}</div>
                        </p>
                    </div>
                </li>
                {{/data}}
            </ul>

    </template>

    <!-- PHOTOS CAROUSEL -->
    <div class="relative w-full md:w-[700px] m-auto flex gap-6 snap-x snap-mandatory overflow-x-auto pb-14 first:pl-4 last:pr-4 [&_*]:snap-center [&_*]:shrink-0 [&_*]:w-72 md:[&_*]:w-[550px] [&_*]:h-40 md:[&_*]:h-[350px] [&_*]:rounded-lg [&_*]:shadow-xl [&_*]:bg-white [&_*]:object-cover"
        hx-get="public/assets.json" hx-trigger="load" hx-ext="client-side-templates"
        mustache-array-template="image-template">
    </div>

    <template id="image-template">
        {{#data}}
        <img src="{{.}}" alt="Dynamic Image">
        {{/data}}
    </template>

    <!-- SPONSORS -->
    <section id="sponsors">
        <div class="mt-20 text-center">
            <p class="max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-2xl md:max-w-3xl">
                Thanks to our awesome sponsors
            </p>
        </div>
        <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8 flex items-center">
            <div class="flex-auto grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-6" hx-get="public/sponsors.json"
                hx-trigger="load" hx-ext="client-side-templates" mustache-array-template="sponsor-template">
            </div>
        </div>
    </section>

    <!-- SPONSOR TEMPLATE -->
    <template id="sponsor-template">
        {{#data}}
        <div class="col-span-3 flex justify-center md:col-span-3 lg:col-span-2">
            <div class="grid grid-cols-1 items-center justify-center content-start">
                <div class="flex col-span-full items-center justify-center">
                    <p class="font-medium text-gray-500">{{sponsorType}}</p>
                </div>
                <div class="flex col-span-full items-center justify-center">
                    <a href="{{sponsorUrl}}">
                        <img class="h-auto max-h-36 max-w-xs" src="{{sponsorImageUrl}}" alt="{{sponsorName}}" />
                    </a>
                </div>
            </div>
        </div>
        {{/data}}
    </template>

    <!-- Github Code -->
    <div hx-get="src/components/github.html" hx-trigger="load" hx-swap="outerHTML"></div>


    <!-- Code of Conduct -->
    <div hx-get="src/components/code-of-conduct.html" hx-trigger="load" hx-swap="outerHTML"></div>


    <!-- Footer -->
    <div hx-get="src/components/footer.html" hx-trigger="load" hx-swap="outerHTML"></div>
</body>

</html>