<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="dist/styles.css">
    <script src="dist/main.js"></script>
</head>

<body>
    <!-- Replace this part with header.html -->
    <div hx-get="./src/components/header.html" hx-trigger="load">
        Header
    </div>

    <div hx-get="./src/components/hero.html" hx-trigger="load">
        hero
    </div>

</body>

</html>