<nav class="fixed top-0 left-0 w-full bg-white z-1000 ">
    <div class="md:relative max-w-screen-xl p-4 mx-auto flex flex-wrap items-center justify-between md:justify-center">
        <!-- Logo -->
        <a href="/" class="md:absolute left-5">
            <img src="public/assets/pythonwa.png" class="h-8" alt="Python WA" />
        </a>
        <!-- Toggle Button -->
        <input type="checkbox" id="menu-toggle" class="hidden peer">
        <label for="menu-toggle" class="md:hidden cursor-pointer">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 1h15M1 7h15M1 13h15" />
            </svg>
        </label>

        <!-- Navigation Menu -->
        <div class="hidden md:block peer-checked:block w-full md:w-auto bg-white z-50 md:z-auto">
            <ul class="flex flex-col md:flex-row p-4 md:p-0 md:space-x-8">
                <li>
                    <a href="#" class="block px-2 py-1 hover:text-blue-500">Events</a>
                </li>
                <li>
                    <a href="#" class="block px-2 py-1 hover:text-blue-500">Photos</a>
                </li>
                <li>
                    <a href="#" class="block px-2 py-1 hover:text-blue-500">Sponsors</a>
                </li>
                <li>
                    <a href="#" class="block px-2 py-1 hover:text-blue-500">Code With Us</a>
                </li>
                <li>
                    <a href="#" class="block px-2 py-1 hover:text-blue-500">Conduct</a>
                </li>
            </ul>
        </div>
    </div>
</nav>