<div
    class="relative w-full md:w-[700px] m-auto flex gap-6 snap-x snap-mandatory overflow-x-auto pb-14 first:pl-4 last:pr-4 [&_*]:snap-center [&_*]:shrink-0 [&_*]:w-72 md:[&_*]:w-[550px] [&_*]:h-40 md:[&_*]:h-[350px] [&_*]:rounded-lg [&_*]:shadow-xl [&_*]:bg-white [&_*]:object-cover">
    <img src="public/assets/photo1.jpeg">
    <img src="public/assets/photo2.jpeg">
    <img src="public/assets/photo3.jpeg">
    <img src="public/assets/photo4.jpeg">
    <img src="public/assets/photo5.jpeg">
    <img src="public/assets/photo6.jpeg">
    <img src="public/assets/photo7.jpeg">
    <img src="public/assets/photo8.jpeg">
</div>